**/.idea/
**/target/
**/*.iml
**/.vscode/
### Gradle ###
.gradle/
**/build/
!gradle/wrapper/gradle-wrapper.properties
gradle/wrapper/*.jar
gradlew
gradlew.bat

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Misc
**/bin/
**/zig-out/
**/.zig-cache/
**/zig-cache/
**/zig-global-cache/

**/async-profiler*/
**/.tool-versions
**/.profileconfig.json
