<configuration>
  <appender class="ch.qos.logback.core.ConsoleAppender" name="STDOUT">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-5level [%logger{36}] - %msg%n</pattern>
    </encoder>
  </appender>
  <include resource="logback-fragments/euhedral-hardware-utils.xml"/>

  <include resource="logback-fragments/euhedral-core.xml"/>

  <logger level="ERROR" name="ch.qos.logback"/>

  <logger level="${DjlLog:-INFO}" name="ai.djl"/>
  <logger level="${PyTorchLog:-WARN}" name="org.pytorch"/>
  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
